In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

### Read in the public art data and examine the shape, head, and tail

In [2]:
art = pd.read_csv('../data/public_art.csv')
art.head(2)

,Title,Last Name,First Name,Location,Medium,Type,Description,Latitude,Longitude,Mapped Location
0,[Cross Country Runners],Frost,Miley,"4001 Harding Rd., Nashville TN",Bronze,Sculpture,NaN,36.12856,-86.83660,"(36.12856, -86.8366)"
1,[Fourth and Commerce Sculpture],Walker,Lin,"333 Commerce Street, Nashville TN",NaN,Sculpture,NaN,36.16234,-86.77774,"(36.16234, -86.77774)"

In [3]:
art.tail(2)

,Title,Last Name,First Name,Location,Medium,Type,Description,Latitude,Longitude,Mapped Location
130,Women Suffrage Memorial,LeQuire,Alan,"600 Charlotte Avenue, Nashville TN",Bronze sculpture,Sculpture,NaN,36.16527,-86.78382,"(36.16527, -86.78382)"
131,Youth Opportunity Center-STARS Nashville - Pea...,Rudloff,Andee,1704 Charlotte Ave.,House paint on vinyl,Mural,NaN,36.15896,-86.79900,"(36.15896, -86.799)"

In [4]:
art.shape

(132, 10)

### Let's explore these other pandas methods, attributes, and accessors
 - .columns
 - .loc[]
 - [[ ]]
 - .drop()
 - .rename()

#### the `columns` attribute shows the column names for the DataFrame

In [5]:
art.columns

Index(['Title', 'Last Name', 'First Name', 'Location', 'Medium', 'Type',
       'Description', 'Latitude', 'Longitude', 'Mapped Location'],
      dtype='object')

#### The `loc[ ]` accessor returns the specified rows and columns by their _labels_ 
- you can filter for just some of rows according to specific values
- save the rows where the `Type` is Mural to a new variable `murals` and check the size of this new DataFrame

In [5]:
murals = art.loc[art.Type == 'Mural']
murals.shape

(38, 10)

#### Passing a list of columns to slice from the DataFrame (double brackets) returns a DataFrame with just those columns

In [10]:
artists = art[['Last Name', 'First Name']]
artists.head(2)

  Last Name First Name
0     Frost      Miley
1    Walker        Lin

#### Drop columns from a DataFrame with the `.drop( )` method; be sure to specify `columns = ` and pass a list of columns to the method
- remember to assign the DataFrame back to the variable name

In [ ]:
art = art.drop(columns = ['Mapped Location'])

In [12]:
art.columns

Index(['title', 'last_name', 'first_name', 'loc', 'medium', 'Type',
       'Description', 'Latitude', 'lng'],
      dtype='object')

#### If the column list is short, you can assign new column names (as a list _with every column in the right order_ ) to the columns attribute

In [13]:
art.columns = ['title', 'last', 'first', 'loc', 'med',
              'type', 'desc', 'lat', 'lng']

#### If you only want to change the name of a subset of columns, use the df.rename() function
- this is the safer way to rename columns

In [8]:
art = art.rename(columns = {'Title': 'title', 'Last Name': 'last_name', 'First Name': 'first_name',
           'Location': 'loc', 'Medium': 'medium',  
            'Desccription': 'desc', 'Latiitude': 'lat', 'Longitude': 'lng'})

In [10]:
art.head()

,title,last_name,first_name,loc,medium,Type,Description,Latitude,lng
0,[Cross Country Runners],Frost,Miley,"4001 Harding Rd., Nashville TN",Bronze,Sculpture,NaN,36.12856,-86.83660
1,[Fourth and Commerce Sculpture],Walker,Lin,"333 Commerce Street, Nashville TN",NaN,Sculpture,NaN,36.16234,-86.77774
2,12th & Porter Mural,Kennedy,Kim,114 12th Avenue N,Porter all-weather outdoor paint,Mural,Kim Kennedy is a musician and visual artist wh...,36.15790,-86.78817
3,A Splash of Color,Stevenson and Stanley and ROFF (Harroff),Doug and Ronnica and Lynn,616 17th Ave. N.,"Steel, brick, wood, and fabric on frostproof c...",Mural,Painted wooden hoop dancer on a twenty foot po...,36.16202,-86.79975
4,A Story of Nashville,Ridley,Greg,"615 Church Street, Nashville TN",Hammered copper repousse,Frieze,"Inside the Grand Reading Room, this is a serie...",36.16215,-86.78205

In [15]:
art.Type.unique()

array(['Sculpture', 'Mural', 'Frieze', 'Monument', 'Mobile', 'Furniture',
       'Mosaic', 'Relief', 'Stained Glass', 'Bronzes',
       'Sculpture/Fountain', 'Various', 'Street Art', 'mural', 'Fountain',
       'Multipart'], dtype=object)

In [16]:
len(art.medium.unique())

101

#### To subset the `art` DataFrame to only include furniture and stained glass you can use the `isin( )` function along with `.loc[ ]`
- just pass a list to include to `isin()`

In [17]:
furniture_and_glass = art.loc[art.Type.isin(['Furniture','Stained Glass'])]
furniture_and_glass.head()

,title,last_name,first_name,loc,medium,Type,Description,Latitude,lng
22,Children's Chairs For The Seasons,McGraw,Deloss,"615 Church Street, Nashville TN",Mixed Media - wood and paint,Furniture,chairs depicting the four seasons,36.16215,-86.78205
43,History in Stained Glass,Baker,Gus,"1101 19th Avenue South, Nashville TN",83 Stained glass medallions,Stained Glass,NaN,36.14564,-86.79765

#### To subset the `art ` DataFrame to include everything _but_  furniture and stained glass
- use the same syntax with a `~` at the beginning of the expression you pass to `.loc[ ]`

In [18]:
no_furniture_and_glass = art.loc[~art.Type.isin(['Furniture','Stained Glass'])]
no_furniture_and_glass.head()

,title,last_name,first_name,loc,medium,Type,Description,Latitude,lng
0,[Cross Country Runners],Frost,Miley,"4001 Harding Rd., Nashville TN",Bronze,Sculpture,NaN,36.12856,-86.83660
1,[Fourth and Commerce Sculpture],Walker,Lin,"333 Commerce Street, Nashville TN",NaN,Sculpture,NaN,36.16234,-86.77774
2,12th & Porter Mural,Kennedy,Kim,114 12th Avenue N,Porter all-weather outdoor paint,Mural,Kim Kennedy is a musician and visual artist wh...,36.15790,-86.78817
3,A Splash of Color,Stevenson and Stanley and ROFF (Harroff),Doug and Ronnica and Lynn,616 17th Ave. N.,"Steel, brick, wood, and fabric on frostproof c...",Mural,Painted wooden hoop dancer on a twenty foot po...,36.16202,-86.79975
4,A Story of Nashville,Ridley,Greg,"615 Church Street, Nashville TN",Hammered copper repousse,Frieze,"Inside the Grand Reading Room, this is a serie...",36.16215,-86.78205