In [ ]:
import pandas as pd
import sqlite3 as sql

### Creating a connection to the weather.db database
 - tell python what database to connect to (`sql.connect( )`)
 - create a cursor to allow passing queries directly to the database

In [ ]:
conn = sql.connect('../data/weather.db')
cur = conn.cursor()

### Checking what tables exist within a database
- the cursor executes the SQL query passed to `.execute( )`
- the results of your query are loaded to the cursor
- the `fetchall()` method returns those results so you can store them in a variable

In [ ]:
# Execute tells the cursor to run the query provided

cur.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;")

# fetchall() allows us to see everything returned by our query, which we store in our 'available_tables' variable

available_tables = (cur.fetchall())

In [ ]:
print(available_tables)

## Querying the 'weather_stations' table

In [ ]:
# Let's check to see what our data looks like by selecting the first 5 rows

cur.execute("SELECT * FROM weather_stations LIMIT 5;")

weather_stations = (cur.fetchall())

In [ ]:
# What is the type of weather_data_2013?

type(weather_stations)

In [ ]:
weather_stations

## Using Pandas to place results into a DataFrame

In [ ]:
# Using the same query as before to select the first 5 rows from weather2013.db

weather_stations_df = pd.read_sql("SELECT * FROM weather_stations;", conn)

In [ ]:
# Checking the type again

type(weather_stations_df)

In [ ]:
weather_stations_df.head()

In [ ]:
weather_stations_df.shape

## Example of a query using the DISTINCT clause

In [ ]:
# When building sql queries, it may be useful to write the query independently and save to variable
# then pass variable to function
# Multi-line queries can use triple quotes (''' ''') to keep it together as one string

query = '''
SELECT DISTINCT(elevation)
FROM weather_stations;
'''

In [ ]:
unique_elevations = pd.read_sql(query, conn)

In [ ]:
unique_elevations

## Example of a query using the WHERE clause

In [ ]:
query = '''
SELECT *
FROM weather_stations
WHERE elevation > 200;
'''

In [ ]:
# This time, we'll query weather2013 to find the dates where the precipitation was greater than 1

high_elevation = pd.read_sql(query, conn)

In [ ]:
high_elevation.head()

## Example of a query using the BETWEEN clause

In [ ]:
query = '''
SELECT *
FROM weather_stations
WHERE elevation BETWEEN 200 AND 220;
'''

In [ ]:
# This time, we'll query weather2013 to find the dates where the precipitation was between 0.2 and 0.5

mid_elevation = pd.read_sql(query, conn)
mid_elevation.head()

## Same example, but using the ORDER BY to sort on precipitation

In [ ]:
query = '''
SELECT *
FROM weather_stations
WHERE elevation BETWEEN 200 AND 220
ORDER BY elevation;
'''

In [ ]:
# Using ASC or DESC to specify how to order the desired column - Is ASC or DESC used by default?

mid_elevation = pd.read_sql(query, conn)
mid_elevation.head()

## What's in the other table?

In [ ]:
query = '''
SELECT *
FROM rainfall_2013
LIMIT 5;
'''

In [ ]:
rainfall_2013 = pd.read_sql(query, conn)
rainfall_2013.head()

## Example of using JOIN to combine tables

In [ ]:
query = '''
SELECT *
FROM rainfall_2013
LEFT JOIN weather_stations ON rainfall_2013.station = weather_stations.station
LIMIT 5;
'''

In [ ]:
weather_rainfall = pd.read_sql(query, conn)
weather_rainfall.head()

## Another example using USING and other selection criteria

In [ ]:
query = '''
SELECT *
FROM rainfall_2013
LEFT JOIN weather_stations USING(station, station)
WHERE weather_stations.name LIKE "%NASHVILLE%"
AND precip > 0.1
ORDER BY rainfall_2013.precip
LIMIT 5;
'''

In [ ]:
weather_rainfall = pd.read_sql(query, conn)
weather_rainfall.head()

## Best Practice - Close connections after use to prevent the tables from being locked

In [ ]:
cur.close()
conn.close()